body {
    background-color: #4f63ff;
    font-family: system-ui;
}

h1 {
    font-weight: bold;
    justify-content: center;
}

.page {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px 16px;
}

.card {
    width: 30vh;
    background: #ffffff;
    align-items: left;
    justify-content: left;
    border-radius: 18px;
    padding: 48px 44px;
}

.button {
    background-color: #4f63ff;
    color: white;
    font-weight: bold;
    padding: 5%;
    border-radius: 5px;
    border: none;
}

.inputs {
    width: 90%;
    height: 2vh;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: #F3F6FA;
    border: none;
    padding: 10px;
}

/* textarea {
    width: 90%;
    height: 2vh;
    background-color: #F3F6FA;
    border: none;
    margin: 2%;
} */

select {
    width: 95%;
    height: 3rem;
    background-color: #F3F6FA;
    border: none;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 10px;
    color: rgb(117,117,117);
    font-family: system-ui;
    font-size: medium;
    
}

::placeholder {
    color: rgb(117,117,117);
    font-family: system-ui;
    font-size: medium;
}